.container{
    background-color: rgb(93, 93, 255);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 30px;
}

.options{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button{
    background-color: rgb(93, 93, 255);
    color: white;
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
}